* {
    font-family: 'Rubik', sans-serif;
}

.col{
    position:relative;
}
h2{
    position:relative;
}

.desktop-only{
    display:none;
}

.nav-top{
    position:relative;
}

.nav-top-right{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 90px;
    height: 90px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

button span {
    width: 80px;
    height: 10px;
    margin-bottom: 13px;
    border-radius: 10px;
    display: block;
    background-color: black;
    top: 0px;
    transition: all 0.6s ease-in-out;
}

button span:nth-child(2) {
    position: relative;
    right: 7px;
}
button.menu-open span:nth-child(2) {
    position: relative;
    right: 0px;
}


.arrow-right{
    position: relative;
    top: 0.4vw;
    left: 0;
    width: 2vw;
    display:inline-block;;
    height: 2vw;
    transition: all 0.6s ease-in-out;
}

.floater-link:hover .arrow-right{
    left:2vw;
}

.arrow-right span {
    position: relative;
    width: 3vw;
    height: 0.3vw;
    border-radius: 3px;
    display: block;
    background-color: black;
    top: -0.4vw;
   
    transition: all 0.6s ease-in-out;
}
.arrow-right span:nth-child(2) {
    width: 1.5vw;
    height: 1.5vw;
    top: -1.45vw;
    background-color: #ffffff00;
    border-top: 0.3vw solid black;
    border-right: 0.3vw solid black;
    left:1.2vw;
    transform: rotate(45deg);
}
.arrow-right span:nth-child(3) {
    display: none;
    width: 1.5vw; 
    height: 0.2vw;
    top: 0.15vw;
    left:1.5vw;
    transform: rotate(-45deg);
}

.first-page{
    background-image: url('../img/astronaut.jpg');
    background-size: cover;
    background-position: center;
    color: #000000;
}
.second-page{
    background-image: url('../img/galaxy.jpg');
    background-size: cover;
    background-position: center;
    color: #ffffff;
}

.svg-icon{
    filter: invert(96%) sepia(4%) saturate(0%) hue-rotate(334deg) brightness(106%) contrast(105%);
}

section{
    height: 100vh;

}

.lander-floater{
    position: relative;
    box-sizing: border-box;
    padding:0 1.5em;
    width:40vw;
    height:43vw;
    left: 12.5vw;
    top: 17.6vw;
    background-color: #ffffff70;
    border: solid 7px #000000;
}
.svg-small{
    height: 1.25em;
}
.plain-link{
    color: #000000;
    text-decoration: none;
}
.svg-text-adjust{
    margin-bottom: -0.3em;
}
footer{
    position: fixed;
    bottom: 10px;
    left: 10px;
}
h1{
    margin: 0;  
    font-size: 10vw;
    text-align: center;
}
.floater-link{
    position: absolute;
    font-size: 2vw;
    font-weight: 400;
    left: 10px;
    bottom: 10px;
}