@import 'normalize';

/* MOBILE CSS FIRST */

/* GENERAL CSS */
* {
    font-family: 'Rubik', sans-serif;
}

.hidden {
    display: none;
}

.desktop-only {
    display: none;
}

a:hover .arrow-right {
    left: 2vw;
}

section {
    min-height: 100vh;
}

.plain-link {
    color: #000000;
    text-decoration: none;
}

button {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 90px;
    height: 90px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.arrow-right {
    top: 0.1vw;
    position: relative;
    display: inline-block;
    left: 0;
    width: 3vw;
    height: 1.5vw;
    background-color: black;
    clip-path: polygon(0 55%,
            0 45%,
            90% 45%,
            71.25% 7.5%,
            75% 0,
            100% 50%,
            75% 100%,
            71.25% 92.5%,
            90% 55%);
    transition: all 0.6s ease-in-out;
}

/* FIRST PAGE */
/* NAVIGATION BAR */

.nav-top {
    position: relative;
}

.nav-top-right {
    z-index: 5;

    span {
        width: 80px;
        height: 10px;
        margin-bottom: 13px;
        border-radius: 10px;
        display: block;
        background-color: black;
        top: 0px;
        transition: all 0.3s ease-in-out;
    }

    span:nth-child(2) {
        position: relative;
        right: 7px;
    }
}

.nav-top-right:hover span:nth-child(2) {
    position: relative;
    right: 0px;
}

/* NAVIGATION BAR --- OPEN MENU */

.fullscreen-menu {
    display: none;
    .plain-link{
        text-transform: uppercase; 
    }
}

.fullscreen-menu.fullscreen-menu-open {
    box-sizing: border-box;
    z-index: 2;
    display: block;
    position: absolute;
    width: 100%;
    height: 100vh;
    padding-top: 20vh;
    background-color: #ffffffcc;

    a {
        display: block;
        text-align: center;
        padding: 0 19vw;
        margin-bottom: 12vw;
        font-size: 9vw;
        font-weight: 600;
        text-shadow: 0px 0.7vw #74747466;
    }
}

/* FIRST PAGE */
/* MAIN CONTENT (TO THE MOON) */

.first-page {
    background-image: url('../img/astronaut.jpg');
    background-size: cover;
    background-position: center;
    color: #000000;
}

.lander-floater {
    h1 {
        margin: 0;
        font-size: 10vw;
        text-align: center;
        text-transform: uppercase; 
    }

    position: relative;
    box-sizing: border-box;
    padding: 0 1.5em;
    width: 40vw;
    height: 43vw;
    left: 12.5vw;
    top: 17.6vw;
    background-color: #ffffff70;
    border: solid 7px #000000;

    .floater-link {
        position: absolute;
        font-size: 2vw;
        font-weight: 400;
        left: 10px;
        bottom: 10px;
    }
}

/* SECOND PAGE */

.second-page {
    background-image: url('../img/galaxy.jpg');
    background-size: cover;
    background-position: center;
    color: #ffffff;
}

.tinted-background {
    background-color: #11111155;
    height: 100%;
    padding-bottom: 60px;
}

.pink-svg {
    filter: invert(11%) sepia(98%) saturate(7084%) hue-rotate(308deg) brightness(92%) contrast(101%);
}

.col {
    position: relative;
    padding: 8vw;
    padding-bottom: 0vw;

    h2 {
        margin: 0px;
        margin-bottom: -12vw;
        padding-top: 2vw;
        font-size: 14vw;
        display: block;
        z-index: 1;

        span:nth-child(1) {
            z-index: 1;
            position: relative;
            text-shadow: 2px 2px 5px #000000;
            font-weight: 600;
        }

        span:nth-child(2) {
            font-family: 'Times New Roman', Times, serif;
            color: #999999;
            position: relative;
            font-size: 17vw;
            left: 14vw;
            top: -11.5vw;
            z-index: 0;
        }
    }

    h3 {
        font-size: 5vw;
    }

    p {
        font-size: 2.8vw;
    }

    blockquote {
        font-size: 4vw;
        font-style: italic;
        margin-bottom: -6vw;
    }

    .pink-link {
        font-size: 2.8vw;
        color: #d200a2;

        .arrow-right {
            position: relative;
            background-color: #d200a2;
            margin-left: 1vw;
            height: 2.8vw;
            width: 5.6vw;
            top: 0.5vw;
        }
    }
}

/* COOKIE FOOTER */

footer {
    position: fixed;
    z-index: 5;
    display: flex;
    font-size: 3vw;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: auto;
    background-color: #02061f;
    color: #d200a2;

    p {
        padding: 0 4vw 0 3vw;
        text-shadow:
            0 0 3px #b10154,
            0 0 4px #b10154,
            0 0 5px #b10154;
    }

    button {
        box-sizing: border-box;
        display: inline-block;
        position: relative;
        background-color: #081160;
        font-weight: 600;
        height: 7vw;
        width: 20vw;
        padding: 2vw;
        color: #ffffff;
    }
}


/* DESKTOP CSS */



/* FIRST PAGE */
@media screen and (min-width: 1000px) {
/* LANDER FLOATER */


    .second-page{
        display:flex;
        gap: 10vw;
        .col{
            width:20%;
        }
    }
}